.card__container {
  position: relative;

  width: 100%;

  aspect-ratio: 0.7;
}

.card__footer-container {
  display: flex;
  flex-direction: column;

  width: 100%;

  position: absolute;
  bottom: 0;

  gap: 15px;
}

.card__container:hover {
  outline: 3px solid gray;
  border-radius: 1px;
}

.card__hide-element {
  visibility: hidden;
}

img {
  position: absolute;

  width: 100%;
  height: 100%;

  object-fit: fill;
}

span {
  position: absolute;
  bottom: 0;
}
